:root {
  --color-blue: #2196F3;
  --color-white: #ffffff;
  --line-color: #d9d9d9;
  --footer-font-color: #f0f0f0;
}

body {
  font-family: 'Inter';
  font-style: normal;
  margin: 0;
  position: absolute;
}
